<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="page-search">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle"><iron-icon icon="search"></div>
      <h1>Search</h1>

      <iron-form id="form1">
        <form action="/result" method="get">
          <paper-input type="text" name="term" required prefix="hash:"></paper-input>
          <paper-button raised onclick="form1.submit()">Search</paper-button>
        </form>
        <br>
      </iron-form>

      <p>Modus commodo minimum eum te, vero utinam assueverit per eu.</p>
      <p>Ea duis bonorum nec, falli paulo aliquid ei eum.Has at minim mucius aliquam, est id tempor laoreet.Pro saepe pertinax ei, ad pri animal labores suscipiantur.</p>
    </div>
  </template>

  <script>
    class PageSearch extends Polymer.Element {
      static get is() { return 'page-search'; }
    }

    window.customElements.define(PageSearch.is, PageSearch);
  </script>
</dom-module>
